[submodule "Minerva/vendor/spdlog"]
	path = Minerva/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Minerva/vendor/GLFW"]
	path = Minerva/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Minerva/vendor/imgui"]
	path = Minerva/vendor/imgui
	url = https://github.com/ocornut/imgui